* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    background-color: rgba(89, 110, 121, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 10px;
}

header .links {
    padding: 20px 30px;
}

header .links a {
    color: white;
    font-size: 30px;
    margin: 0px 5px;
}

header .links a:hover {
    
}

.first-container {
    height: 600px;
    width: 100%;
    background-color: rgba(89, 110, 121, 1);
    /* background-image: linear-gradient(rgba(89, 110, 121, 1), rgba(246, 240, 237, 1)); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.first-container .image {
    margin: 0 auto;
}

.first-container img {
    border-radius: 50%;
    padding-left: 20px;
    /* filter: drop-shadow(15px 0px 2px rgba(240, 236, 226, 1)); */
}

.first-container .text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}

.first-container p {
    font-size: 30px;
    font-weight: 500;
}

.first-container h2 {
    font-size: 50px;
    font-weight: 800;
}

/* ------------------------------- */

.second-container {
    height: 800px;
    width: 100%;
    background-color: rgba(187, 177, 147, 1);
}




/* ----------------------------------- */

.third-container {
    height: 400px;
    width: 100%;
    background-color: rgba(246, 240, 237, 1);
}

.third-container h4 {
    color: black;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

.stack-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(126, 168, 190, 1);
    width: 1200px;
    margin: auto;
}

.stack-container img {
    width: 150px;
    margin: auto;
}









/* ----------------------------------- */

.fourth-container {
    height: 1200px;
    width: 100%;
    background-color: rgba(194, 148, 138, 1);
}

.fourth-container h5 {
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: left;
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.card {
    /* padding: 10px; */
    margin: 0px 30px;
    width: 480px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(194, 148, 138, 1) 25%, rgba(246, 240, 237, 1) 25%);
    border-style: solid;
    border-color: rgba(246, 240, 237, 1);
    border-width: 2px;
}

.card .logo img {
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
}

.card-container {
    text-align: center;
    height: 324px;
    width: 476px;
}

.card-container h6 {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.card-container p {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding: 20px;
}

.card a {
    font-size: 30px;
    text-align: center;
    color: black;
    padding: 0px 5px;
}

.card a:hover {
    opacity: 0.7;
}

.card img {
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
}


/* @media (max-width: 600px) {
    .card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
} */
